<html>
    <head>
        <title>Strona główna</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <link rel="stylesheet" type="text/css" href="style.css" media="screen" />
        <link type="text/css" rel="stylesheet" href="js/jstree/_docs/syntax/!style.css"/>
    	<link type="text/css" rel="stylesheet" href="js/jstree/_docs/!style.css"/>
        <script type="text/javascript" src="/js/jquery.min.js"></script>
        <script type="text/javascript" src="/js/underscore.js"></script>
        <script type="text/javascript" src="/js/backbone.js"></script>
        <script type="text/javascript" src="/js/jstree/jquery.cookie.js"></script>
    	<script type="text/javascript" src="/js/jstree/jquery.jstree.js"></script> 
    	<script type="text/javascript" src="/js/jquery.knob-1.1.1.js"></script> 
    </head>
    <body>
        <div id="wrapper">
            <div class="columnLeft">
                <div id="controllersContainer">
                    <input id="createRoom" class="button" type="button" value="Dodaj pokój" >
                    <input id="removeRoom" class="button" type="button" value="Usuń" >
                </div>
                <div id="DevicesTree" class="demo jstree jstree-0 jstree-default"></div>
                <div id="configurationBox">
                    <div class="view deviceBox">
                        <h2><strong>Konfiguracja</strong></h2>
                        <select id="confListSelect"></select>
                        <input id="saveConfiguration" class="button" type="button" value="Zapisz" >
                    </div>
                </div>
            </div>
            <div id="DevicesContainer">
                <ul id="DevicesList"></ul>
            </div>
        </div>
<!-- Templatka termometru -->
<script type="text/template" id="thermometer-template">
    <div class="view deviceBox">
        <h2><strong>Termometr</strong></h2>
        <div class="deviceTop">
            <span>Urządzenie: </span>
            <span>#<%= id %></span>
        </div>
        <div>
            <span>Wartość: </span>
            <span><%= value %></span>
            <span><%= unit %></unit>
            <meter min="-50" max="100" value="<%= value %>">
        </div>
    </div>
</script>

<!-- Templatka higrometru -->
<script type="text/template" id="hygrometer-template">
    <div class="view deviceBox">
        <h2><strong>Wilgotnościomierz</strong></h2>
        <div class="deviceTop">
            <span>Urządzenie: </span>
            <span>#<%= id %></span>
        </div>
        <div>
            <span>Wartość: </span>
            <span><%= value %></span>
            <span><%= unit %></unit>
            <meter min="0" max="100" value="<%= value %>">
        </div>
    </div>
</script>

<!-- Templatka przycisku -->
<script type="text/template" id="button-template">
    <div class="view deviceBox">
        <h2><strong>Przycisk</strong></h2>
        <div class="deviceTop">
            <span>Urządzenie: </span>
            <span>#<%= id %></span>
        </div>
        <div>
            <div class="buttonDeviceStatusBox">
                Stan: <%= type %> <br />
                <button class="save-button" href="#">Włącz/Wyłącz</button>
            </div>
                <input class="knob" data-width="60" data-displayPrevious=true data-fgColor="silver" data-skin="tron" data-thickness=".4" value="<%= rep %>" data-min="0" data-max="31">
        </div>
    </div>
</script>

<!-- Templatka lista configuracji -->
<script type="text/template" id="configuration-template">
    <div class="view deviceBox">
        <h2><strong>Konfiguracja</strong></h2>
        <select id="sconfigListSelect" class="sele">
            <% _.each(configs, function(config) {%>
                <option value="<%= config.id %>"><%= config.name %></option>
            <% }); %>            
        </select>
    </div>
</script>

<script type="text/javascript" src="/js/test.js"></script>
    </body>
</html>
