body {
    font: 12px Arial;
	color: #fff;
	background: #333;
}

div, p {
    margin: 4px;
    padding: 0px;
	background: #666;
}

.deviceBox {
    border: 1px solid #f4f4f4;
    height: 100px;
    width: 200px;
    padding: 10px;
	float: left;
}

#ApplicationContainer {
    width: 600px;
	align: center;
	margin: 0px auto;
	padding: 0px;
}
	    
ul { 
    list-style-type: none;
}

meter {
    display: block;
    margin: 4px 0px 2px 0px;
    width: 190px;
}


